body {
    font-family: monospace;
    font-size: 12pt;
    position: relative;
    display: block;
    margin: 10px;
    text-rendering: optimizeLegibility;
}

textarea {
    font-size: 10pt;
    border-style: solid;
    width: 100%;
    margin: 10px;
    padding: 2px;
}

table {
    font-size: 10pt;
    width: 95%;
    margin: 10px;
    padding: 2px;
    table-layout: fixed;
}

.input, .output {
    display: flex;
    border: none;
}

em {
    font-style: normal;
    font-weight: bold;
    color: black;
    background: lightblue;
}

button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

button:hover {
    background: #67c5ff;
    color: white;
}
